<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,504},{249,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,311}}</string>
                <key>sourceSize</key>
                <string>{249,311}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1932},{128,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,74}}</string>
                <key>sourceSize</key>
                <string>{128,74}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1955},{87,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,83}}</string>
                <key>sourceSize</key>
                <string>{87,83}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{604,542}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,542}}</string>
                <key>sourceSize</key>
                <string>{604,542}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1748},{182,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,171}}</string>
                <key>sourceSize</key>
                <string>{182,171}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,486},{240,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,93}}</string>
                <key>sourceSize</key>
                <string>{240,93}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,244},{240,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,93}}</string>
                <key>sourceSize</key>
                <string>{240,93}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,253},{249,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,311}}</string>
                <key>sourceSize</key>
                <string>{249,311}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1625},{77,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,111}}</string>
                <key>sourceSize</key>
                <string>{77,111}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1748},{205,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,86}}</string>
                <key>sourceSize</key>
                <string>{205,86}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,755},{75,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,49}}</string>
                <key>sourceSize</key>
                <string>{75,49}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1908},{144,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,136}}</string>
                <key>sourceSize</key>
                <string>{144,136}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{506,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,224}}</string>
                <key>sourceSize</key>
                <string>{506,224}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1303},{488,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,443}}</string>
                <key>sourceSize</key>
                <string>{488,443}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1180},{488,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,443}}</string>
                <key>sourceSize</key>
                <string>{488,443}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,813},{488,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,443}}</string>
                <key>sourceSize</key>
                <string>{488,443}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{249,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,311}}</string>
                <key>sourceSize</key>
                <string>{249,311}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1908},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1748},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1748},{167,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,165}}</string>
                <key>sourceSize</key>
                <string>{167,165}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{255,542}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,542}}</string>
                <key>sourceSize</key>
                <string>{255,542}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{604,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,149}}</string>
                <key>sourceSize</key>
                <string>{604,149}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1955},{87,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,83}}</string>
                <key>sourceSize</key>
                <string>{87,83}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,2},{240,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,93}}</string>
                <key>sourceSize</key>
                <string>{240,93}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,728},{87,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,83}}</string>
                <key>sourceSize</key>
                <string>{87,83}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,755},{75,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,49}}</string>
                <key>sourceSize</key>
                <string>{75,49}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,697},{75,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,49}}</string>
                <key>sourceSize</key>
                <string>{75,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:909cd54f2825efe23657b3291f138d25$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
