<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame0.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,290},{192,132}}</string>
                <key>offset</key>
                <string>{-47,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,116},{192,132}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,138}}</string>
                <key>offset</key>
                <string>{-12,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,107},{268,138}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>frame10.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{208,140}}</string>
                <key>offset</key>
                <string>{-7,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,124},{208,140}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>frame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,302},{176,166}}</string>
                <key>offset</key>
                <string>{36,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,79},{176,166}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>frame20.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,170},{118,196}}</string>
                <key>offset</key>
                <string>{-14,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,114},{118,196}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>frame21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{118,158}}</string>
                <key>offset</key>
                <string>{-15,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,113},{118,158}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>frame22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{120,156}}</string>
                <key>offset</key>
                <string>{-17,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,114},{120,156}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>frame23.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,706},{120,150}}</string>
                <key>offset</key>
                <string>{-16,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,114},{120,150}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>frame3.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,144},{198,168}}</string>
                <key>offset</key>
                <string>{25,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,77},{198,168}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>frame30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{124,172}}</string>
                <key>offset</key>
                <string>{-18,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,123},{124,172}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>frame31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{120,172}}</string>
                <key>offset</key>
                <string>{-28,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,121},{120,172}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>frame32.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,314},{134,176}}</string>
                <key>offset</key>
                <string>{-30,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,118},{134,176}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>frame33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{136,182}}</string>
                <key>offset</key>
                <string>{-27,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,117},{136,182}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>frame34.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,164},{136,178}}</string>
                <key>offset</key>
                <string>{-16,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,124},{136,178}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>frame35.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,738},{118,138}}</string>
                <key>offset</key>
                <string>{-20,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,125},{118,138}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>frame36.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,594},{120,142}}</string>
                <key>offset</key>
                <string>{-16,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,122},{120,142}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>frame37.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,858},{128,148}}</string>
                <key>offset</key>
                <string>{-22,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,118},{128,148}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>frame4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,424},{168,174}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,71},{168,174}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>frame5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{250,176}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,69},{250,176}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>frame6.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{256,166}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,79},{256,166}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>frame7.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{206,160}}</string>
                <key>offset</key>
                <string>{-33,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,86},{206,160}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d65b1dcb09c38aebd2cdd9373858b81a$</string>
            <key>textureFileName</key>
            <string>hero2.png</string>
        </dict>
    </dict>
</plist>
